h1{
    text-align: center;
}

#gameTextDiv{
    background-color: white;
    max-height: 300px;
    overflow: scroll;
    border: black 5px solid;
    padding: 10px;
}

#userInputBox{
    margin-top: 10px;
    width: 100%;
}