*{
    box-sizing: border-box;
}
html{
    background-color: lightpink;
}

body{
    margin:0;
    padding: 0; 
}

#pageTitle{
    text-align: center;
    background-color: white;
    padding: 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    margin: 0px;
}

nav{
    margin-top: 77px;
    background-color: white;
    float: right;
    width: 100%;
    border-top: 2px solid black;
}

nav ul{
    float: right;
}

nav ul li{
    list-style: none;
    display: inline;
    margin: 0px;
}

nav ul li a{
    text-decoration: none;
    padding: 16px;
    margin: 0px;
    color:black;
}

nav ul li a:hover{
    background-color: hotpink;
}

#mainSection{
    width: 80%;
    min-width: 500px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: hotpink;
    float: left;
}

aside{
    float: left;
    width: 10%;;
}